<h1>Listing combos</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Money</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @combos.each do |combo| %>
      <tr>
        <td><%= combo.code %></td>
        <td><%= combo.name %></td>
        <td><%= combo.money %></td>
        <td><%= combo.description %></td>
        <td><%= link_to 'Show', combo %></td>
        <td><%= link_to 'Edit', edit_combo_path(combo) %></td>
        <td><%= link_to 'Destroy', combo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Combo', new_combo_path %>
