<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @activity.fee %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p style="display: none">
  <strong>Member:</strong>
  <%= @activity.member_id %>
</p>

<%= link_to 'Edit', edit_member_activity_path({:member_id => @activity.member_id ,:id => @activity.member_id }) %> |
<%= link_to 'Back', members_path %>
