<p id="notice"><%= notice %></p>

<p>
  <strong><%=Activity.human_attribute_name :name%>:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong><%=Activity.human_attribute_name :fee%>:</strong>
  <%= @activity.fee %>
</p>

<p>
  <strong><%=Activity.human_attribute_name :description%>:</strong>
  <%= @activity.description %>
</p>

<p style="display: none">
  <strong>M<%=Activity.human_attribute_name :member%>:</strong>
  <%= @activity.member_id %>
</p>

<%= link_to t(:edit), edit_member_activity_path({:member_id => @activity.member_id ,:id => @activity.member_id }) %> |
<%= link_to t(:back), member_path( @activity.member ) %>
