<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title><%= content_for?(:title) ? yield(:title) : "Rails Project" %></title>

		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><%= link_to t(:home),welcome_path %></h1>
				</li>
			</ul>
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<!--<li class="active">
						<a href="#">Right Nav Button Active</a>
					</li>
					 -->
				</ul>
				<!-- Left Nav Section -->
				<ul class="left">
					<li class="name">
						<h1><%= link_to t(:member) , members_path %></h1>
					</li>
					<li class="name">
						<h1><%= link_to t(:combo), combos_path %></h1>
					</li>
				</ul>
			</section>
		</nav>

		<div class="panel clearfix">
			<%= yield %>
			<%= javascript_include_tag "application" %>
		</div>
	</body>
</html>