<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>
  	<tr>
  		<th>名称：</th>
  		<td> 
    <%= f.text_field :name %></td>
  	</tr>
  	<tr>
  		<th>性别：</th>
  		<td><%= select("member", "sex", sex_list.each{|t| [t[0], t[1]]},  options ={:prompt => "请选择一个套餐"}) %></td>
  	</tr>
  	<tr>
  		<th>年龄：</th>
  		<td><%= f.number_field :age %></td>
  	</tr>
  	<tr>
  		<th>套餐：</th>
  		<td><%= select("member", "combo_id", @combo.collect{|t| [t.name, t.id]},  options ={:prompt => "请选择一个套餐"}) %> </td>
  	</tr> 
  	<tr>
  		<th>描述：</th>
  		<td><%= f.text_area :description %></td>
  	</tr>
  </table>  
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
