<h1><%= t(:edit)%><%= t(:member)%></h1>

<%= render 'form' %>

<%= link_to t(:show), @member ,:class => 'button tiny radius' %> |
<%= link_to t(:back), members_path ,:class => 'button tiny radius' %>
