<h1>Listing members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th>Combo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.age %></td>
        <td><%= member.description %></td>
        <td><%= member.combo.name %></td>
        <td><%= link_to '查看', member %></td>
        <td><%= link_to '编辑', edit_member_path(member) %></td>
        <!-- <td><%= link_to '添加活动', new_activity_path() %></td> -->
        <td><%= link_to '添加活动', "/activities/new/#{member.id}" %></td>
        <td><%= link_to '删除', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
