<!-- 会员列表模板 -->
<dl class="sub-nav"  style="margin-bottom: 2px;">
	<dt>
		<%= t(:member_list)%>:
	</dt>
	<dd class="active" style="float: right" >
		<%= link_to t(:new, :obj => "会员"), new_member_path %>
	</dd>
</dl>
<table width="100%">
	<thead>
		<tr>
			<th><%= Member.human_attribute_name :name %></th>
			<th><%= Member.human_attribute_name :sex %></th>
			<th><%= Member.human_attribute_name :age %></th>
			<th><%= Member.human_attribute_name :description %></th>
			<th><%= Member.human_attribute_name :combo %></th>
			<th><%= t(:option)%></th> 
		</tr>
	</thead>

	<tbody>
		<% @members.each do |member| %>
		<tr>
			<td><%= member.name %></td>
			<td><%= sex_name(member.sex) %></td>
			<td><%= member.age %></td>
			<td><%= member.description %></td>
			<td><%= member.combo.name %></td>
			<td>
			<dd>
				<%= link_to t(:show), member ,:class => 'button  success tiny radius'%> 
				<%= link_to t(:edit), edit_member_path(member) , :class => 'button  success tiny radius' %>
				<%= link_to t(:new,:obj => t(:activity)), new_member_activity_path({:member_id => member.id})  , :class => 'button  success tiny radius'%>
				<%= link_to t(:delete) , member, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'button  success tiny radius' %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>
