<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @member.description %>
</p>

<p>
  <strong>Combo:</strong>
  <%= @member.combo.name %>
</p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fee</th>
      <th>Description</th>
      <th>Member</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @member.activity.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.fee %></td>
        <td><%= activity.description %></td>
        <td><% if activity.member != nil %>
        		<a><%=activity.member.name%></a>
        	<% end %></td>
        <td><%= link_to 'Show', member_activity_path({:member_id => @member.id, :id => activity.id }) %></td>
        <td><%= link_to 'Edit', edit_member_activity_path({:member_id => @member.id, :id => activity.id }) %></td>
        <td><%= link_to 'Destroy',member_activity_path({:member_id => @member.id, :id => activity.id }), method: :delete, data: {:id => activity.id , confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
